/*isSecuredSite styles*/

body {
	min-width: 1020px;
	font-family: 'Tajawal', sans-serif;
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color: #4B4B4B;
}

header {
	background: #414042;
    border-bottom: 7px solid #63ce4f;
    display: inline-block;
	width: 100%;
}

a{
	text-decoration: none;
	color: #ffff;
}

#main {
	width: 100%;
    padding: 0 20px;
    display: inline-block;
    box-sizing: border-box;
	margin-left: 20%;
}

#results{
    border: 1px solid #ccc;
	padding: 12px 20px;
	width: 50%;
}

.formButton {
	font-family: 'Tajawal', sans-serif;
	background-color: #434242;
    color: white;
    border: 1px solid #555555;
	font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
	padding: 8px 16px;
    text-align: center;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.formButton:hover {
    background-color: white;
    color: #434242;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}